* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  position: fixed;
  z-index: 2;
  width: 100%;
}

.first-menu-box {
  border: 1px solid black;
  background-color: black;
  height: 50px;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.3rem;
}

.first-menu-box ul {
  display: flex;
  gap: 10px;
  list-style: none;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
  border: none;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
  align-items: center;
}

.first {
  font-size: 1.1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  position: relative;
}

.icon-list {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

ul h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
i {
  font-size: 1.4rem;
}

.menu {
  display: none;
}


.images-slider{
    position: relative;
    padding-top: 120px;
    
    
}


.images.main {
  height: 800px;
  padding: 50px;
 
  
}

.img-5 {
  width: 100%;
  height: 80vh;
  overflow: hidden;
  object-fit: cover;
  object-position: top;

}

.word-pragraph {
  position: absolute;
  width: 100%;
  top: 40%;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: space-around;
  color: white;
  padding: 50px 0;
  z-index:1;
}

.word-box1 h1{
    font-size: 3.5rem;
}

.word-box1 button{
width: 100%;
height: 40px;
font-size: 1.5rem;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
border-radius: 10px;
padding: 0 10px;
border: none;
cursor: pointer;
}
.word-box1 button:hover{
  background-color: transparent;
  border: 1px solid white;
  color: white;
  transition: 0.5s;
}



.word-3{
  border: 1px solid black;
  height: 180px;
  padding: 40px 120px;
  background-color: #ffffff;
  border: none;
}

.word-3 h2{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.4rem;
  margin-bottom: 10px;

}

.word-3 h1{
  font-size: 3.4rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main-3{
  padding: 0 50px;
}
.collection-slide{
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px 40px;

}

.main-3{
  text-align: start;
}
.slid-images-1{
  border: 1px solid black;
  height: 68vh;
  max-width: 370px;
  background-color: #f7f7f7;
  text-align: center;
  border: none;
  padding: 50px 30px;
  transition: all 1s ease;
}

.collection-image{
  height: 300px;
}

.main-3 h2{
  margin-top: 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.4rem;
  margin-bottom: 8px;
}
.main-3 h2:hover{
  color: red;
}
.main-3 h4{
  color: red;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.2rem;
}

.input select{
 padding: 0 20px;
 max-height: 40px;
color: rgb(140, 140, 140);
border: 1px solid rgba(140, 140, 140, 0.493);
}
.input button{
  width: 100%;
  color: white;
  background-color: black;
  margin-top: 8px;
  height: 50px;
  border: none;
  cursor: pointer;
  transition: 0.5s;

  
 
}
.input button:hover{
  background-color: transparent;
  border: 1px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
}

.input{
  opacity: 0;
  visibility: hidden;
  transition: 0.8s ease;
  width: 100%;
  gap: 10px;
  display: flex;
  justify-content: center;
flex-wrap: wrap;
}

.main-3:hover .input{
  opacity: 1;
  visibility: visible;
}
button a{
  color: white;
}
button a:hover{
  color: black;
}

.main-4{
  border: 1px solid black;
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 20px;
  grid-template-columns: auto auto;
  padding: 50px 30px;
  border: none;
}

.men{
  height: 540px;
  overflow: hidden;
}

.men img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}
.men img:hover{
   transform: scale(1.1);
}

.word-5{
  border: 1px solid black;
  height: 180px;
  padding: 40px 120px;
  background-color: #ffffff;
  border: none;
}


.word-5 h2{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.4rem;
  margin-bottom: 10px;

}

.word-5 h1{
  font-size: 3.4rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}








/* RESPONSIVE */


/* 992PX TO 1200PX */

@media(min-width:992px) and (max-width:1200px){
  .collection-slide{
    grid-template-columns: auto auto;
    
  }
}

@media (min-width: 772px) and (max-width: 992px) {
  .first-menu-box {
    font-size: 1.1rem;
  }

  .icon-list {
    display: none;
  }

  .menu {
    display: block;
  }

  .word-box1 h1{
    font-size: 3rem;
  }

  .collection-slide{
    grid-template-columns: auto auto;
  }
}


@media (min-width:576px) and (max-width:800px){
  .collection-slide{
    grid-template-columns: auto ;
    
  }
  .collection-image{
    height: 280px;
  }
}


@media (min-width: 576px) and (max-width: 772px) {
  .first-menu-box {
    font-size: 1rem;
  }
  ul .offer {
    display: none;
  }
  .first {
    position: absolute;
    top: 130px;
    left: 0;
    right: 0;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.79);
    overflow: hidden;
    transition: all 1s ease;
    z-index: 2;
    backdrop-filter: blur(5px);
  }

  ul li {
    padding: 28px 0;
  }

  a {
    color: white;
  }
  .icon-list {
    display: none;
  }
  .menu {
    display: block;
  }

  .menu i {
    font-size: 1.9rem;
  }
  .word-pragraph{
    grid-template-columns: auto; 
    top: 280px;
    justify-content: start;
    gap: 20px;
    padding: 20px ;
   z-index: revert-layer;
   
  }
   .word-box1 h1{
    font-size: 2.5rem;
  }

  
}

@media (min-width: 300px) and (max-width: 576px) {
  .first-menu-box {
    font-size: 0.9rem;
  }
  ul .offer {
    display: none;
  }

  .first {
    position: absolute;
    top: 130px;
    left: 0;
    right: 0;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.79);
    overflow: hidden;
    transition: all 1s ease;
    z-index: 1;
     backdrop-filter: blur(5px);
  }

  ul h1 {
    font-size: 25px;
  }

  ul li {
    padding: 30px 0;
  }

  a {
    color: white;
  }
  .icon-list {
    display: none;
  }
  .menu {
    display: block;
  }

  .menu i {
    font-size: 1.6rem;
  }
   .word-pragraph{
    grid-template-columns: auto; 
    top: 300px;
    justify-content: start;
    gap: 20px;
    padding: 20px ;
     z-index: revert-layer;
  }


   .word-box1 h1{
    font-size: 1.8rem;
  }
}

@media(max-width:576px){

  .slid-images-1{
    height: 64vh;
  }
  .main-4{
    grid-template-columns: auto;
  } 
  
  .word-3 h2{
    font-size: 0.9rem;
  }

  .word-3 h1{
    font-size: 1.8rem;
  }



  .word-5 h2{
    font-size: 0.9rem;
  }

  .word-5 h1{
    font-size: 1.8rem;
  }
   .collection-slide{
    grid-template-columns: auto ;
    
  }
  .collection-image{
    height: 230px;
  }
}
