* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.first-menu-box {
  border: 1px solid black;
  background-color: black;
  height: 50px;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.3rem;
}

.first-menu-box ul {
  display: flex;
  gap: 10px;
  list-style: none;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
  border: none;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
  align-items: center;
}

.first {
  font-size: 1.1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  position: relative;
}

.icon-list {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

ul h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
i {
  font-size: 1.4rem;
}

.menu {
  display: none;
}

.images-slider {
  position: relative;
  padding-top: 120px;
}

.images.main {
  height: 800px;
  padding: 50px;
}

.img-5 {
  width: 100%;
  height: 80vh;
  overflow: hidden;
  object-fit: cover;
  object-position: top;
}

.word-pragraph {
  position: absolute;
  width: 100%;
  top: 40%;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: space-around;
  color: white;
  padding: 50px 0;
  z-index: 1;
}

.word-box1 h1 {
  font-size: 3.5rem;
}

.word-box1 button {
  width: 100%;
  height: 40px;
  font-size: 1.5rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  border-radius: 10px;
  padding: 0 10px;
  border: none;
  cursor: pointer;
}
.word-box1 button:hover {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  transition: 0.5s;
}

.trending {
  padding: 60px 20px;
}

.heading {
  text-align: center;
  margin-bottom: 50px;
}

.heading h2 {
  font-size: 1.2rem;
  letter-spacing: 2px;
  color: #555;
}

.heading h1 {
  font-size: 3rem;
  margin-top: 10px;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

.product {
  text-align: left;
}
.product-box {
  background-color: #e0e0e0;
  padding: 20px;
  position: relative;
  overflow: hidden;
}

.product-box img {
  width: 100%;
  height: 260px;
  object-fit: contain;
}

.action {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  opacity: 0;
  transition: 0.4s ease;
}

.product-box:hover .action {
  opacity: 1;
}

.action select {
  flex: 1;
  padding: 8px;
}

.action button {
  width: 100%;
  padding: 12px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.action button:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.products h3 {
  margin-top: 15px;
  font-size: 1.2rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.product-box:hover .product h3 {
  color: red;
}

.products p {
  color: red;
  font-size: 1.1rem;
  margin-top: 5px;
}

.main-4 {
  border: 1px solid black;
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 20px;
  grid-template-columns: auto auto;
  padding: 50px 30px;
  border: none;
}

.men {
  height: 540px;
  overflow: hidden;
}

.men img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}
.men img:hover {
  transform: scale(1.1);
}

.word-5 {
  border: 1px solid black;
  height: 180px;
  padding: 40px 120px;
  background-color: #ffffff;
  border: none;
}

.word-5 h2 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.word-5 h1 {
  font-size: 3.4rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.women-images {
  height: 100vh;
  width: 100%;
  position: relative;
}

.women-images img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
  position: absolute;
}

.text {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgb(248, 248, 248);
}

.text h1 {
  font-size: 3.5rem;
  margin-bottom: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 2px;
}

.text button {
  border: 1px solid black;
  height: 40px;
  width: 250px;
  font-size: 1rem;

  text-align: center;
  transition: 0.5s ease;
}

.text button:hover {
  background-color: black;
  color: white;
}

.moving-div {
  position: relative;
  width: 100%;
  overflow: hidden;
  background: black;
  color: white;
  padding: 1.8vw 0;
  white-space: nowrap;
}

/* Track */
.track {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 12s linear infinite;
}

/* Continuous animation */
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Left blur */
.blur-left {
  position: absolute;
  left: 0;
  top: 0;
  width: 20%;
  height: 100%;
  background: linear-gradient(to right, black, transparent);
  z-index: 2;
  pointer-events: none;
}

.blur-right {
  position: absolute;
  right: 0;
  top: 0;
  width: 20%;
  height: 100%;
  background: linear-gradient(to left, black, transparent);
  z-index: 10;
  pointer-events: none;
}

.slide-main {
  padding: 20px 90px;
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
}

.first-1 {
  border: 1px solid black;
  height: 600px;
  width: 450px;
  overflow: hidden;
}

.first-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.first-1 img:hover {
  transform: scale(1.1);
}
.secound {
  border: 1px solid black;
  width: 450px;
  padding: 70px 0;
  border: none;
}

.secound h2 {
  margin: 10px 30px 20px;
}

hr {
  width: 90%;
  margin: auto;
}

.secound h1 {
  margin: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.secound p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 20px;
  font-size: 0.8rem;
}

.secound h3 {
  margin: 10px 30px 20px;
  margin-top: 50px;
  color: red;
  font-size: 1.5rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.icon {
  padding: 0 30px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}

.secound button {
  height: 30px;
  width: 180px;
  margin-top: 10%;
  background-color: black;
  color: white;
  font-size: 1.2rem;
}

.secound button:hover {
  background-color: transparent;
  border: 1px solid black;
  color: black;
}

.input-num input {
  height: 30px;
  width: 50px;
  margin: 30px;
  margin-top: 80px;
  padding: 2px;
}

.slider-main2 {
  border: 1px solid black;
  padding: 50px 0;
  display: grid;
  grid-template-columns: auto auto;
  background-color: #f7f7f7;
  border: none;
}

.box-4 {
  border: 1px solid black;
  width: 520px;
  margin: auto;
  overflow: hidden;
  object-fit: cover;
  gap: 20px;
  padding: 30px 10px;
  border: none;
}

.box-4 h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.box-4 p {
  font-size: 0.9rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
}

.box-4 img {
  width: 100%;
  height: 100%;
}

.icon2 {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.icon2 img {
  width: 130px;
}

.testimonial-section {
  background: linear-gradient(145deg, #5f5f5f, #2b2b2b);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  font-family: Arial, sans-serif;
}

.testimonial-box {
  background-color: #000;
  max-width: 500px;
  width: 100%;
  padding: 40px 50px;
  text-align: center;
  position: relative;
  border-radius: 16px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.6);
  color: white;
}

.rating-stars {
  padding: 0 30px;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.testimonial-item {
  display: none;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.6s ease;
}

.testimonial-item.active {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.testimonial-item p {
  font-size: 18px;
  line-height: 1.6;
  color: #e6e6e6;
  margin-block: 30px;
}

.testimonial-item span {
  color: #969696;
  font-size: 14px;
}

#btn-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  cursor: pointer;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  width: 48px;
  height: 48px;
  color: white;
  backdrop-filter: blur(5px);
  transition: all 0.3s ease;
}

#btn-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  cursor: pointer;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  width: 48px;
  height: 48px;
  color: white;
  backdrop-filter: blur(5px);
  transition: all 0.3s ease;
}

#btn-prev {
  left: -60px;
}

#btn-next {
  right: -60px;
}

#btn-next:hover {
  background: rgba(255, 255, 255, 0.25);
  transform: translateY(-50%) scale(1.1);
}

#btn-prev:hover{
    background: rgba(255, 255, 255, 0.25);
  transform: translateY(-50%) scale(1.1);
}


.faq-box{
  border: 1px solid black;
  width: 100%;
  background-color: #ffffff;
  padding: 10px 0;
}


.faq-box h1{
  font-size: 3.5em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
}

.quation{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  width: 100%;
  padding: 20px ;
  gap: 18px;
}

.que-1{
  width: 60%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.389);
  padding: 10px 0;
}

.span{
  font-size: 1.4rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  padding: 0 20px;
}

.que-1 i{
  float: right;
  cursor: pointer;
}

.ans{
  display: none;
  margin-top: 10px;
  font-size: 1rem;
  padding: 0 30px;
  
}

footer{
  background-color: black;
  padding: 30px;
}

.footer-main{
  background-color: black;
  border: 1px solid black;
  color: white;
  display: grid;
  grid-template-columns: auto auto;  
  justify-content: space-around;
  align-items: center;
  padding: 50px;
 
}

.footer-1{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 50px;
  
}

.footer-1 ul{
  list-style: none;
 
}

.footer-1 ul li h4{
  margin-top: 15px;
}

h4{
  color: rgb(77, 77, 77);
}

.footer-2{
  border: 1px solid red;
  border:none;
}

.input-box{
  display: flex;
  border: 1px solid grey;
  margin-top: 20px;
  padding: 5px;
  width: 100%;
  gap: 30px;

}

input{
  background: transparent;
  width: 59%;
  outline: none;
  border: none;
  height: 100%;
  color: white;
  flex: 1;
}
.input-box button{
  width: 120px;
  height: 30px;
  font-size: 1rem
}

.input-box button:hover{
  background-color: black;
  color: white;
  border: 1px solid white;
  transition: 0.3s;

}

.footer-2 h3{
  margin-top: 30px;
}


.footer-images{
  margin-block: 30px;
  display: grid;
  justify-content: center;
  align-items: center;
  
}

.line{
  border: 1px solid rgba(255, 255, 255, 0.297);
  width: 100%;
  margin-top: 30px;
}



/* RESPONSIVE */

@media (max-width: 768px) {
  .heading h1 {
    font-size: 2.2rem;
  }
  .text h1 {
    font-size: 2.2rem;
  }
  .marquee span {
    font-size: 1rem;
  }
}

@media (min-width: 772px) and (max-width: 992px) {
  .first-menu-box {
    font-size: 1.1rem;
  }

  .icon-list {
    display: none;
  }

  .menu {
    display: block;
  }

  .word-box1 h1 {
    font-size: 3rem;
  }

  .slide-main {
    grid-template-columns: auto;
  }

  .first-1 {
    width: 100%;
  }
  .secound {
    width: 100%;
  }

  .box-4 {
    width: 370px;
  }

  .box-4 h1 {
    font-size: 1.8rem;
  }

  .box-4 p {
    font-size: 0.7rem;
  }

  .footer-main{
    grid-template-columns: auto;
    gap: 50px;
    justify-content: start;
  }
}

@media(max-width:940px){

  .que-1{
    width: 100%;
  }
  .span{
    font-size: 1rem;
  }
}






@media(max-width:625px){
  #btn-prev{
    display: none;
  }
   #btn-next{
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 772px) {
  .first-menu-box {
    font-size: 1rem;
  }
  ul .offer {
    display: none;
  }
  .first {
    position: absolute;
    top: 130px;
    left: 0;
    right: 0;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.79);
    overflow: hidden;
    transition: all 1s ease;
    z-index: 2;
    backdrop-filter: blur(5px);
  }

  .first  li {
    padding: 28px 0;
  }

  a {
    color: white;
  }
  .icon-list {
    display: none;
  }
  .menu {
    display: block;
  }

  .menu i {
    font-size: 1.9rem;
  }
  .word-pragraph {
    grid-template-columns: auto;
    top: 280px;
    justify-content: start;
    gap: 20px;
    padding: 20px;
    z-index: revert-layer;
  }
  .word-box1 h1 {
    font-size: 2.5rem;
  }

  .slide-main {
    grid-template-columns: auto;
  }

  .first-1 {
    width: 100%;
  }
  .secound {
    width: 100%;
  }

  .slider-main2 {
    grid-template-columns: auto;
  }
  .box-4 {
    width: 100%;
    text-align: center;
  }

  .icon2 {
    justify-content: center;
    margin-top: 50px;
  }
  
  .footer-main{
    grid-template-columns: auto;
  
    justify-content: start;
  }
  .footer-1 ul li h4{
    margin: 0;
  }
    .footer-main{
    grid-template-columns: auto;
    gap: 50px;
    justify-content: start;
  }

  .footer-1 ul li{
    margin-top: 20px;
  }
}

@media (max-width: 576px) {
  .first-menu-box {
    font-size: 0.9rem;
  }
  ul .offer {
    display: none;
  }

  .first {
    position: absolute;
    top: 130px;
    left: 0;
    right: 0;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.79);
    overflow: hidden;
    transition: all 1s ease;
    z-index: 1;
    backdrop-filter: blur(5px);
  }

  ul h1 {
    font-size: 25px;
  }

  .first ul li {
    padding: 30px 0;
  }

  a {
    color: white;
  }
  .icon-list {
    display: none;
  }
  .menu {
    display: block;
  }

  .menu i {
    font-size: 1.6rem;
  }
  .word-pragraph {
    grid-template-columns: auto;
    top: 300px;
    justify-content: start;
    gap: 20px;
    padding: 20px;
    z-index: revert-layer;
  }

  .word-box1 h1 {
    font-size: 1.8rem;
  }

  .slid-images-1 {
    height: 64vh;
  }
  .main-4 {
    grid-template-columns: auto;
  }

  .word-3 h2 {
    font-size: 0.9rem;
  }

  .word-3 h1 {
    font-size: 1.8rem;
  }

  .word-5 h2 {
    font-size: 0.9rem;
  }

  .word-5 h1 {
    font-size: 1.8rem;
  }

  .product-box img {
    height: 200px;
  }

  .slide-main {
    grid-template-columns: auto;
    padding: 20px 20px;
  }

  .first-1 {
    width: 90%;
  }
  .secound {
    width: 90%;
  }

  .slider-main2 {
    grid-template-columns: auto;
    padding: 20px;
  }
  .box-4 {
    width: 100%;

    text-align: center;
  }

  .box-4 h1 {
    font-size: 1.5rem;
  }
  .box-4 p {
    font-size: 0.8rem;
  }

  .icon2 {
    justify-content: center;
    margin-top: 50px;
  }

  .span{
    font-size: 0.8rem;
  }

  .ans{
    font-size: 0.7rem;
  }

     .footer-main{
    grid-template-columns: auto;
    gap: 50px;
    justify-content: start;
  }

  .footer-1 ul li{
    margin-top: 20px;
  }
  .footer-1{
    grid-template-columns: auto auto;
  }

  .footer-2{
    margin: 0;
    padding: 0;
  }
}
