* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  position: fixed;
  z-index: 2;
  width: 100%;
}

.first-menu-box {
  border: 1px solid black;
  background-color: black;
  height: 50px;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.3rem;
}

.first-menu-box ul {
  display: flex;
  gap: 10px;
  list-style: none;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
  border: none;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
  align-items: center;
}

.first {
  font-size: 1.1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  position: relative;
}

.icon-list {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

ul h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
i {
  font-size: 1.4rem;
}

.menu {
  display: none;
}


.images-slider{
    position: relative;
    padding-top: 120px;
    
    
}


.images.main {
  height: 800px;
  padding: 50px;
 
  
}

.img-5 {
  width: 100%;
  height: 80vh;
  overflow: hidden;
  object-fit: cover;
  object-position: top;

}

.word-pragraph {
  position: absolute;
  width: 100%;
  top: 40%;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: space-around;
  color: white;
  padding: 50px 0;
  z-index:1;
}

.word-box1 h1{
    font-size: 3.5rem;
}

.word-box1 button{
width: 100%;
height: 40px;
font-size: 1.5rem;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
border-radius: 10px;
padding: 0 10px;
border: none;
cursor: pointer;
}
.word-box1 button:hover{
  background-color: transparent;
  border: 1px solid white;
  color: white;
  transition: 0.5s;
}

.collection-main{
  border: 1px solid black;
 border: none;
}

.word-3{
  border: 1px solid black;
  height: 180px;
  padding: 40px 120px;
  background-color: #ffffff;
  border: none;
}

.word-3 h2{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.4rem;
  margin-bottom: 10px;

}

.word-3 h1{
  font-size: 3.4rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.collection-slide{
  display: grid;
  height: 80vh;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-items: center;
  gap: 70px;
  padding: 20px 30px;

}

.main-3{
  text-align: start;
}
.slid-images-1{
  border: 1px solid black;
  height: 65vh;
  width: 370px;
  background-color: #f7f7f7;
  text-align: center;
  border: none;
  padding: 50px 30px;
  /* transition: all 1s ease; */
}

.collection-image{
  height: 300px;
}

.main-3 h2{
  margin-top: 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.4rem;
  margin-bottom: 8px;
}
.main-3 h2:hover{
  color: red;
}
.main-3 h4{
  color: red;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.2rem;
}
.input{
  width: 100%;
  margin-top: 10px;
  display: none;
  transition: 10s;
  
}

.slid-images-1:hover{
  .input{
    display: block;
   
  }
  .main-3 h2{
    color: red;
  }
}

.input select{
 padding: 0 30px;
 height: 30px;

}
.input button{
  width: 100%;
  color: white;
  background-color: black;
  margin-top: 8px;
  height: 50px;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}
.input button:hover{
  background-color: transparent;
  border: 1px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
}





@media (min-width: 772px) and (max-width: 992px) {
  .first-menu-box {
    font-size: 1.1rem;
  }

  .icon-list {
    display: none;
  }
  .menu {
    display: block;
  }
  .word-box1 h1{
    font-size: 3rem;
  }
}

@media (min-width: 576px) and (max-width: 772px) {
  .first-menu-box {
    font-size: 1rem;
  }
  ul .offer {
    display: none;
  }
  .first {
    position: absolute;
    top: 130px;
    left: 0;
    right: 0;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.79);
    overflow: hidden;
    transition: all 1s ease;
    z-index: 2;
    backdrop-filter: blur(5px);
  }

  ul li {
    padding: 28px 0;
  }

  a {
    color: white;
  }
  .icon-list {
    display: none;
  }
  .menu {
    display: block;
  }

  .menu i {
    font-size: 1.9rem;
  }
  .word-pragraph{
    grid-template-columns: auto; 
    top: 280px;
    justify-content: start;
    gap: 20px;
    padding: 20px ;
   z-index: revert-layer;
   
  }


   .word-box1 h1{
    font-size: 2.5rem;
  }
}

@media (min-width: 300px) and (max-width: 576px) {
  .first-menu-box {
    font-size: 0.9rem;
  }
  ul .offer {
    display: none;
  }

  .first {
    position: absolute;
    top: 130px;
    left: 0;
    right: 0;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.79);
    overflow: hidden;
    transition: all 1s ease;
    z-index: 1;
     backdrop-filter: blur(5px);
  }

  ul h1 {
    font-size: 25px;
  }

  ul li {
    padding: 30px 0;
  }

  a {
    color: white;
  }
  .icon-list {
    display: none;
  }
  .menu {
    display: block;
  }

  .menu i {
    font-size: 1.6rem;
  }
   .word-pragraph{
    grid-template-columns: auto; 
    top: 300px;
    justify-content: start;
    gap: 20px;
    padding: 20px ;
     z-index: revert-layer;
  }


   .word-box1 h1{
    font-size: 1.8rem;
  }
}
